<?xml version='1.0' encoding='utf-8'?>
<widget id="com.calving.calvingapp" version="0.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>CalvingApp_test</name>
    <description>
       An app for cows calving procedures.
    </description>
    <author email="ignacio@inglobe.com.ar" href="http://inglobe.com.ar">
        Inglobe Team
    </author>
    <content src="index.html" />
    <preference name="phonegap-version" value="cli-5.2.0" />  
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <gap:plugin name="org.apache.cordova.device" source="npm" />
    <gap:plugin name="org.apache.cordova.file" source="npm" />
    <gap:plugin name="org.apache.cordova.file-transfer" source="npm" />
    <gap:plugin name="org.apache.cordova.network-information" source="npm" />
    <gap:plugin name="org.apache.cordova.splashscreen" source="npm" />
    <icon src="img/logo_b.png" />

</widget>
